.sidebar {
  // height: fit-content;
  overflow: auto;
  flex-grow: 0;
  padding: 0;
  color: var(--teal-2);

  :global {
    .ant-menu-item:hover,
    .ant-menu-submenu-title:hover {
      background-color: var(--gray-light) !important;
      color: var(--black) !important;
    }
    .ant-menu-item svg path,
    .ant-menu-submenu-title svg path {
      fill: var(--white-abs);
    }

    .ant-menu-item:hover svg path,
    .ant-menu-submenu:hover .ant-menu-submenu-title svg path {
      fill: var(--black);
    }

    .ant-menu-item-selected svg path {
      fill: var(--black);
    }
  }
  
  :global(.ant-menu) {
    background-image: url("../assets/background_blur.jpg");
    background-size: cover;
    @media (min-width: 768px) {
      flex-basis: 20rem;
      background: rgba(255, 255, 255, 0);
    }
  }

  @media (max-width: 768px) {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    max-width: 30rem;
    margin: 0 auto;
    box-shadow: 0 0.4rem 1.2rem rgba(255, 255, 255, 0.73);
  }

  @media (min-width: 768px) {
    flex-basis: 22rem;
    background: rgba(255, 255, 255, 0.02);
  }
}
