.authentication {
  :global {
    .title {
      text-align: center;
      margin-bottom: 1.6rem;
    }
    .description {
      text-align: center;
      margin-bottom: 1.6rem;
    }
    .form-authentication {
      .ant-form-item {
        margin-bottom: 1.6rem;
      }
    }
    .forgot-password {
      text-align: center;
      width: fit-content;
      margin: 1.6rem auto 0;
      cursor: pointer;

      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--teal-2);
      }
    }

    .ant-modal-footer {
      display: flex;
      justify-content: center;
      gap: 0.4rem;
    }

    .ant-modal-footer .ant-btn {
      margin: 0;
    }

    .ant-btn-loading .ant-btn-loading-icon .anticon {
      font-size: 24px;
    }
  }
}